
nav{
    background-color: cornflowerblue;
    background-image: url(./img/pattern.png);
    margin: auto;
    width:auto;
    height: 150px;
}
.logo{
    height:200px;
    width:200px ;
}
.maintitle{
    font-size:56px;
    margin-bottom: 0%;
}
#autore{
    margin-top: 0%;
    margin-bottom: 0%;
    color: grey;
    font-size: 18px;
}
.booleaner{
    color: rgb(9, 128, 240);
}
#credits{
    color: black;
    font-size: 14px;
    margin-top: 0%;
    margin-bottom: 0%;
}
#underline{
    background-color: rgb(251, 255, 0);
}
thead{
    background-color: rgb(89, 89, 252);
}
tbody{
    background-color: rgb(15, 196, 196);
}
#white{
    background-color: aliceblue;
}
table{
    border-collapse: collapse;
}